{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
IRB regulatory information
{% endblock %}

{% block content %}

	<p style="font-size:10px">
	<b>Protocol Number:</b> {{Constants.IRB}}
	</p>

	<p style="font-size:10px">
	<b>Principal Investigators:</b> Yucheng Liang (ycliang@stanford.edu) 
	</p>

	<p style="font-size:10px">
	You are being asked to take part in a research study. This is not a form of treatment or therapy. It is not supposed to detect a disease or find something wrong. Your participation is voluntary which means you can choose whether or not to participate. If you decide to participate or not to participate there will be no loss of benefits to which you are otherwise entitled. Before you make a decision you will need to know the purpose of the study, the possible risks and benefits of being in the study and what you will have to do if decide to participate. The researcher is available by email to talk with you about the study and give you this consent document to read.
	</p>

	<p style="font-size:10px">
	Please do not continue with the study if you do not understand this consent information. Please ask the researcher to explain anything you do not understand, including any language contained in this form. If you decide to participate, you will be asked to continue with the study after reading this form and your continuation will indicate your consent.
	</p>

	<p style="font-size:10px">
	<b> What is the purpose of this research?</b>
	</b>

	The purpose of the study is to better understand how people make decisions.
	</p>

	<p style="font-size:10px">
	<b>How long will I take part in this research?</b>

	Your participation will take approximately {{Constants.minutes}} minutes.  
	</p>

	<p style="font-size:10px">
	<b>What can I expect if I take part in this research?</b>

	As a participant, you will be asked to answer a series of questions. Additional information will be provided to you during your study participation.
	We cannot and do not guarantee or promise that you will receive any benefits from this study.
	</p>

	<p style="font-size:10px">
	<b>What are the risks and possible discomforts?</b>

	There are no anticipated risks associated with the study. Please note that you do not have to answer any questions you feel uncomfortable with. You are free to withdraw from the study at any point in time if you choose to do so.
	</p>

	<p style="font-size:10px">
	<b>Will I be compensated for participating in this research?</b>

	In addition to your show-up fee of {{Constants.base_pay}}, you may earn additional money from participating in the study. You will be paid your HIT fee even if you decide to withdraw from the study or refuse to answer any questions, within reasonable limits. Any bonus payments will depend on whether you complete the entire survey, as well as on your exact decisions and some luck.
	</p>

	<p style="font-size:10px">
	<b>If I take part in this research, how will my privacy be protected? What happens to the information you collect?</b>

	The data we collect will not include any personal or sensitive information. In addition, it will not be identified with your name, but only with a participant number. The data will eventually be used for publication in research journals and presentations at scientific conferences. At such time, the data will be presented in aggregate, and individual participants will never be discussed.
	</p>

	<p style="font-size:10px">
	<b>Who can I call with questions, complaints or if I’m concerned about my rights as a research subject?</b>
	 
	If you have any questions, concerns or complaints about this research, its procedures, risks and benefits, contact <a href="mailto:ycliang@stanford.edu?Subject=MTurk%20Study" target="_top">Yucheng Liang</a>.
	 
	If you are not satisfied with how this study is being conducted, or if you have any concerns, complaints, or general questions about the research or your rights as a participant, please contact the Stanford Institutional Review Board (IRB) to speak to someone independent of the research team at (650)-723-2480 or toll free at 1-866-680-2906, or email at IRB2-Manager@lists.stanford.edu.  You can also write to the Stanford IRB, Stanford University, 3000 El Camino Real, Five Palo Alto Square, 4th Floor, Palo Alto, CA 94306.
	</p>

	<p style="font-size:10px">

	<b> By continuing with this study, you are consenting to participate. </b>
		Please <a href="javascript:window.print()">make a copy</a> of this consent form for your own records. If you cannot do so on your browser, please contact <a href="mailto:ycliang@stanford.edu?Subject=MTurk%20Study%20CONSENT%20FORM" target="_top">Yucheng Liang</a> for a copy of the consent form.
	</p>

    {% next_button %}

{% endblock %}
