<p>Part 2 consists of a number of rounds. As was in Part 1, in each round there are two boxes filled with the same number of colorful balls. The computer will select either Box A or Box B, each with 50% chance. Then, from the selected box, the computer will randomly draw a ball. Each ball in the selected box is equally likely to be drawn.</p>

<p>In Part 2, we will not tell you which box is selected. Nor will we show you the ball that is drawn. Instead, you will be asked questions in the form of "How likely do you think that the computer will select Box A AND draw a blue ball from it in this round?" </p>

<p>Notice that in this question, you are asked to assess the odds that both "the computer selects Box A" and "the computer draws a blue ball from Box A" are true statements. </p>

<p> In Part 2, we use the same type of payment rule as in Part 1. Therefore, as before, <b>you are most likely to get the extra bonus of {{Constants.high_bonus}} when you give us your most accurate answer for each question</b>. </p>