{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Instructions -- Please Read Carefully
{% endblock %}

{% block content %}

<div class="box1">
	<p> <b>You will be asked to answer questions about these instructions and you will not be able to proceed unless you answer all questions correctly! </b> </p>

	  <p> <b> If you do not fully understand the instructions, we cannot use your data in our study. Please <a href="mailto:ycliang@stanford.edu?Subject=MTurk%20Study" target="_top">email me</a> if you feel you understood everything but the tests do not let you pass. </b> </p>
</div>


	<h3>Overview:</h3>

    <p>
        This HIT consists of two parts. In each part, you will either win <b>{{Constants.high_bonus}}</b> or <b>{{Constants.low_bonus}}</b>. In the end, <b>one part will be randomly chosen to determine your bonus.</b> Each part is equally likely to be chosen. The study ends with a very short survey that you also need to complete to be paid any bonus.
    </p>

    <p><b>At the very beginning, the computer will randomly assign a consultant to you. The consultant is either {{ player.senior_name }} or {{ player.junior_name }}.</b></p>

    <h3>Part 1</h3>

{% include "rd_update/ShortIns_dice.html"%}

<h3>Part 2</h3>

<p>
	<b>In Part 2, you will choose between an "investment" and a lottery.</b> You will win <b>{{Constants.high_bonus}}</b> if your choice pays out and <b>{{Constants.low_bonus}}</b> if it doesn't.
</p>


{% include "rd_update/ShortIns_dspt.html"%}

<p>After your consultant makes his report, you will have to make a decision. <b>You can either take the investment opportunity, or you can take a lottery that lets you win {{Constants.high_bonus}} with a certain chance and {{ Constants.low_bonus }} otherwise.</b></p>

    <h3>Survey and Results</h3>
    <p>In the end, you will need to answer a very short survey. After the survey, we will reveal the roll of the dice in Part 1, the quality of the investment and the outcome of the lottery in Part 2, and the part which is chosen to count for payment.</p>

<p>Before you proceed, we need to ask you some comprehension questions to make sure that you understand the task. Click the button below to go to the comprehension questions.</p>

    <div  id="hide">
        <button type="button" class="btn btn-primary btn-large" onclick="
        document.getElementById('understanding').style.visibility='visible';
        document.getElementById('hide').style.display = 'none'"
        >
            Go to comprehension questions
        </button>

    </div>

    <br>

    <div id="understanding" style="visibility:hidden">
	<h3>Comprehension questions:</h3>
        <p>Part 1 and Part 2 are equally likely to be chosen to count for payment.</p>
        {% formfield player.truefalse1 with label="" %}

        <p>In Part 1, I am more likely to win if my consultant is {{ player.senior_name }}.</p>
        {% formfield player.truefalse2 with label="" %}

        <p>In Part 2, both the investment opportunity and the lottery are free.</p>
        {% formfield player.truefalse3 with label="" %}

        <p>In Part 2, each one of the 100 investment opportunities is equally likely to be offered to me.</p>
        {% formfield player.truefalse4 with label="" %}

		<p>Among the 100 investment opportunities in Part 2, how many of them are <b>good</b>?</p>
		{% formfield player.blank1 with label='' %}

        <p>In Part 2, if the investment opportunity is indeed <b>good</b>, how likely will the consultant say "The investment is <b>Good</b>"?</p>
		<div class="input-group">
            {{ form.blank2}}<span class="input-group-addon">%</span>
        </div>

		<p>In Part 2, if the investment opportunity is indeed <b>bad</b>, how likely will the consultant say "The investment is <b>Good</b>"?</p>
		<div class="input-group">
            {{ form.blank3}}<span class="input-group-addon">%</span>
        </div>

     {% next_button %}
	</div>


{% endblock %}


{% block styles %}
 <style type="text/css">
 div.box1 {
    padding: 10px;
    border: 3px solid red;
    margin: 0;
}
	 img.box2 {
    padding: 10px;
    border: 1px solid #eee;
    margin: 0;
	 }
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg .tg-s6z2{text-align:center}
	.tg .tg-baqh{text-align:center;vertical-align:top}
	.tg .tg-yw4l{vertical-align:top}
      .input-group {
        max-width: 100px;
      }
 </style>
{% endblock %}
