<p>This study has 2 parts. At the end of the study, the computer will randomly select one question in one part. Your payment will depend on your answer to that question!  </p>
 
<p>Part 1 consists of a number of rounds. In each round, there are two boxes filled with colorful balls. The two boxes have the same number of balls but different color compositions. The composition of the boxes may change from round to round.</p>

<p>At the beginning of each round, the computer will select either Box A or Box B by tossing a fair coin. <b>Hence, each of the two boxes has 50% chance of being selected.</b> </p>

<p> We will NOT tell you which box was actually selected by the computer, but you will get a piece of information. By clicking the button <button type="button" class="btn btn-primary btn-large">{{Constants.button_label}}</button>, the computer will randomly draw a ball from the selected box and show it to you. <b>Each ball in the box is equally likely to be drawn.</b></p>

<p>Your job is to answer the question "{{Constants.update_question}}"</p>

<p>If a question is selected by computer for payment, then whether you will get your extra bonus of {{Constants.high_bonus}} depends on your answer to that question. Our payment rule makes sure that <b>you are most likely to get the extra bonus when you give us your most accurate answer</b>.</p>

 