
<p>There are 100 investment opportunities. We <b>randomly</b> pick one investment opportunity and offer it to you <b>for free</b>. <b>Out of the 100 investments there are {{prior_g}} good ones.</b> Suppose you take the investment, you will win <b>{{Constants.high_bonus}}</b> if the investment is good and <b>{{Constants.low_bonus}}</b> if the investment is bad.

<p>Before you decide whether to take the investment opportunity, your consultant will help you inspect its quality. After the inspection, your consultant will report to you whether he thinks the investment is good or bad.
    <b>The consultant  sometimes make mistakes.</b>
    The list below enumerates how your consultant will report under each scenario.</p>

<p>If the investment is indeed <b>good</b> (which happens {{prior_g}} out of 100 times), then he will report {{Constants.good_message}} <b>{{acc}}%</b> of the times, but will mistakenly report {{Constants.bad_message}} <b>{{err}}%</b> of the times;</p>


<p>If the investment is indeed <b>bad</b> (which happens {{prior_b}} out of 100 times), then he will report {{Constants.bad_message}} <b>{{acc}}%</b> of the times, but will mistakenly report {{Constants.good_message}} <b>{{err}}%</b> of the times.</p>

