	<h3>Task description:</h3>

<p>There are 100 investment opportunities. We <b>randomly</b> pick one investment opportunity and offer it to you <b>for free</b>. <b>Out of the 100 investments there are {{prior_g}} good ones.</b> Suppose you take the investment, you will receive the bonus of <b>{{Constants.high_bonus}}</b> if the investment is good and <b>no bonus</b> if the investment is bad.

<p>Before you decide whether to take the investment opportunity, we will also assign a consultant to help you inspect its quality. After the inspection, the consultant will report to you whether he thinks the investment is good or bad.
    {% if high_acc == low_acc %} The consultant, who's name is {{ player.junior_name }}, sometimes makes mistakes.
    {% else %}
        <b>The consultant will either be {{ player.senior_name }} or {{ player.junior_name }}.</b> Both {{ player.senior_name }} and {{ player.junior_name }} sometimes make mistakes.
    {% endif %}
    The list below enumerates how a consultant will report under each scenario.</p>

<p>If the investment is indeed <b>good</b> (which happens <b>{{prior_g}}</b> out of 100 times), then</p>
    <ul>
      {% if high_acc != low_acc %}
      <li>{{ player.senior_name }} will report {{Constants.good_message}} <b>{{high_acc}}%</b> of the times, but will mistakenly report {{Constants.bad_message}} <b>{{high_err}}%</b> of the times;
      </li>
      {% endif %}
      <li>{{ player.junior_name }} will report {{Constants.good_message}} <b>{{low_acc}}%</b> of the times, but will mistakenly report {{Constants.bad_message}} <b>{{low_err}}%</b> of the times.
      </li>
    </ul>

<p>If the investment is indeed <b>bad</b> (which happens <b>{{prior_b}}</b> out of 100 times), then</p>
    <ul>
      {% if high_acc != low_acc %}
      <li>{{ player.senior_name }} will report {{Constants.bad_message}} <b>{{high_acc}}%</b> of the times, but will mistakenly report {{Constants.good_message}} <b>{{high_err}}%</b> of the times;
      </li>
      {% endif %}
      <li>{{ player.junior_name }} will report {{Constants.bad_message}} <b>{{low_acc}}%</b> of the times, but will mistakenly report {{Constants.good_message}} <b>{{low_err}}%</b> of the times.
      </li>
    </ul>
<p>
{% if expectation != 0 and high_acc != low_acc %}
{% if senior_prob > 50 %} <b>The consultant that will be at your service is most likely to be {{ player.senior_name }}, but with a small chance it will be {{ player.junior_name }} instead.</b>
{% elif senior_prob < 50 %} <b>The consultant that will be at your service is most likely to be {{ player.junior_name }}, but with a small chance it will be {{ player.senior_name }} instead.</b>
{% endif %}
{% endif %}
</p>