{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
Task
{% endblock %}

{% block content %}
<div class="panel-group" id="accordion">
    <div class="panel panel-warning" id="panel1">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" class="btn-block" href="#collapseOne">
            Task description -- Click to collapse
        </a>
      </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse in" data-toggle="false">
            <div class="panel-body">
<h3>Task description:</h3>
{% include "rd_update/Description.html"%}
            </div>
        </div>
    </div>
</div>

    <p>Recall that in your first evaluation, you said there was a <b>{{ player.prior }}%</b> chance that the investment was <b>good</b>.</p>
    <div  id="hide">
        <button type="button" class="btn btn-primary btn-large" onclick="
        document.getElementById('report').style.display='block';
        document.getElementById('hide').style.display = 'none'"
        >
            Request a consultant and read his report
        </button>

    </div>

<br>

    <div id="report" style="display:none">
        {% if high_acc != low_acc %}
        <p style="font-size:20px">
            The consultant that comes to your service is {% if senior %}<b>{{ player.senior_name }}</b> {% else %} <b>{{ player.junior_name }}</b> {% endif %}.
        </p>
        {% endif %}
        <p style="font-size:20px">
            {% if senior and high_acc != low_acc %}<b>{{ player.senior_name }}</b>'s report:
            {% elif junior and high_acc != low_acc %}<b>{{ player.junior_name }}</b>'s report:
                {% else %}{{ player.junior_name }}'s report:
            {% endif %}
            "The investment is
            {% if signal %}<b>Good</b>
            {% else %}<b>Bad</b>{% endif %}".
        </p>
    <p>Now that you have read the consultant's report, how likely do you think that the investment we pick for you is <b>good</b>? </p>
   <div class="input-group">
            {{ form.answer }}<span class="input-group-addon">%</span>
    </div>

    {% next_button %}
    </div>

{% endblock %}


{% block styles %}
 <style type="text/css">
 div.box1 {
    padding: 10px;
    border: 3px solid red;
    margin: 0;
}
 div.box2 {
    padding: 10px;
    border: 1px solid #eee;
    margin: 0;
}

 </style>

    <style media="screen">
      .input-group {
        max-width: 100px;
      }
    </style>
{% endblock %}