{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
Task
{% endblock %}

{% block content %}
<div class="panel-group" id="accordion">
    <div class="panel panel-warning" id="panel1">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" class="btn-block" href="#collapseOne">
            Task description -- Click to collapse
        </a>
      </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse in" data-toggle="false">
            <div class="panel-body">

{% include "rd_update/ShortIns.html"%}
            </div>
        </div>
    </div>
</div>


    <div  id="hide">
        <button type="button" class="btn btn-primary btn-large" onclick="
        document.getElementById('report').style.display='block';
        document.getElementById('hide').style.display = 'none'"
        >
            Request a consultant and read his report
        </button>

    </div>

<br>

    <div id="report" style="display:none">
        {% if high_acc != low_acc %}
        <p style="font-size:20px">
            The consultant that comes to your service is {% if senior %}<b>{{ player.senior_name }}</b> {% else %} <b>{{ player.junior_name }}</b> {% endif %}.
        </p>
        {% endif %}
        <p style="font-size:20px">
            {% if senior and high_acc != low_acc %}<b>{{ player.senior_name }}</b>'s report:
            {% elif junior and high_acc != low_acc %}<b>{{ player.junior_name }}</b>'s report:
                {% else %}{{ player.junior_name }}'s report:
            {% endif %}
            "The investment is
            {% if signal %}<b>Good</b>
            {% else %}<b>Bad</b>{% endif %}".
        </p>
        <p><b>Do you want to take the investment opportunity or a lottery that pays you {{Constants.high_bonus}} with {{lottery_odds}}% chance?</b></p>
        {% formfield player.investment %}

    {% next_button %}
    </div>

{% endblock %}