{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
Task
{% endblock %}

{% block content %}
<div class="panel-group" id="accordion">
    <div class="panel panel-warning" id="panel1">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" class="btn-block" href="#collapseOne">
            Task description -- Click to collapse
        </a>
      </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse in" data-toggle="false">
            <div class="panel-body">

{% include "rd_update/ShortIns.html"%}
            </div>
        </div>
    </div>
</div>


    <div  id="hide">
        <button type="button" class="btn btn-primary btn-large" onclick="
        document.getElementById('report').style.display='block';
        document.getElementById('hide').style.display = 'none'"
        >
            Request a consultant and read his report
        </button>

    </div>

<br>

    <div id="report" style="display:none">
        <p>
            <b>The consultant that comes to your service is {% if senior %}{{ player.senior_name }} {% else %} {{ player.junior_name }} {% endif %}.</b>
        </p>
        <p>
            <b>{% if senior %}{{ player.senior_name }}'s report: {% else %}{{ player.junior_name }}'s report: {% endif %}"The investment is {% if signal %}Good{% else %}Bad{% endif %}".</b>
        </p>


    <table class="table table-striped">
        <colgroup>
            <col width="25%">
            <col width="10%">
            <col width="65%">
        </colgroup>
        <tr>
            <td align="right"><b>Option A</b></td>
            <td></td>
            <td align="left"><b>Option B</b></td>
        </tr>
        {% for odds in right_side_odds %}
            <tr>
                <td align="right">
                    I prefer taking the investment. </td>
                <td align="middle">
                    <input type="radio" name="odds_{{ odds|json }}" value="left"
                           required>&nbsp;&nbsp;
                    <input type="radio" name="odds_{{ odds|json }}"
                           value="right" data-amount="{{ odds|json }}" required>
                </td>
                <td align="left">
                    I prefer taking a lottery that pays out {{Constants.high_bonus}} with <b>{{ odds }}%</b> chance and no bonus otherwise.
                </td>
            </tr>
        {% endfor %}
    </table>


    {{ form.errors }}
    <input type="hidden" name="answer" id="switchpoint"
           value=0>

     {% next_button %}
    </div>



{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('input[type=radio]').change(
            function () {
                var clickedRadio = this;
                var afterClickedRadio = false;
                var clickedNumber = 100;

                var radios = document.querySelectorAll('input[type=radio]');

                for (i = 0; i < radios.length; ++i) {
                    var radio = radios[i];
                    if (radio == clickedRadio) {
                        afterClickedRadio = true;
                        continue;
                    }
                    if (!afterClickedRadio  && radio.value == 'right') {
                        radio.checked = true;
                    }
                    if (afterClickedRadio && radio.value == 'left' ) {
                        radio.checked = true;
                    }
                }
                for (i = 0; i < radios.length; ++i) {
                    var radio = radios[i];
                    if (radio == clickedRadio) {
                        radio.checked = true;
                    }
                }
            }
    );
});

    $('button').click(function() {
        var radios = document.querySelectorAll('input[type=radio]');


        for (i = 0; i < radios.length; ++i) {
            var radio = radios[i];
            if (radio.value == 'left' && radio.checked) {
                $('#switchpoint').val(radio.dataset.odds);
                break;
            } else {
                $('#switchpoint').val(0);
            }
        }
    });

</script>
{% endblock %}