<p>
	This study takes around {{Constants.minutes}} minutes to complete. The main part of the study consists of {{Constants.num_rounds}} questions about money. All questions count for your bonus payment. Depending on the accuracy of your answer, you may receive a bonus of between {{Constants.bonus_0}} and {{Constants.bonus_2}} for each question.
</p>

<p>
	The study ends with a very short survey that you also need to complete to be paid any bonus payments.
</p>

<p>All {{Constants.num_rounds}} questions takes the following form: </p>

<p>"Suppose the rate of return on a savings account is [X%] per year. What's the <b>minimum</b> amount of dollars you have to put into this account <b>at the start of year 1</b> in order to withdraw [AMOUNTS OF DOLLARS] at [DATES]?"</p>

<p>Each question has a correct answer. If the difference between your answer and the correct answer is within 10% of the correct answer, you will earn {{Constants.bonus_2}} for that question. If the difference is between 10% and 30% of the correct answer, you will earn {{Constants.bonus_1}}. Otherwise, you will not earn rewards for this question.
</p>

<p>
	At the very end of the survey, we will ask you a few demographic questions. We thank you for answering these questions carefully and truthfully. You will need to complete the survey in order to be paid any bonus. You will still be eligible for bonus payment even if you choose the option "I prefer not to answer" for some or all the questions.
</p>