{% extends "otree/Page.html" %}
{% load otree_tags %}

{% block title %}Please read this before clicking "Accept"{% endblock %}

{% block content %}
     <p>
    You are invited to participate in this research study run by the <b> Department of Economics </b> at <b> Stanford University </b>.
    </p>

    <p> This survey will take approximately <b> {{Constants.minutes}} minutes </b> to complete. </p>

    <p>
        This study will pay you a HIT payment of <b> {{Constants.base_pay}} </b>. For completing the entire study, we will pay you a bonus of <b> {{Constants.complete_bonus}}  </b>. In addition, you may receive an additional bonus payment of up to <b> {{Constants.high_bonus}} </b> depending on your answers. Thus, depending on your answers and luck, you will earn between <b> {{Constants.total_min}} </b> and <b>{{Constants.total_max}}</b>  from completing this study.
    </p>

    <p>
        You are allowed to withdraw from the study at any point of time. You do not have to complete any questions you are uncomfortable with. However, you will only be paid any bonus payments if you pass all comprehension checks and complete the full survey.
    </p>


    <p> <em> <b> About luck and randomness in economics studies: </b> </em> we guarantee, on behalf of the Department of Economics at Stanford University, that when we say that an event is random, it is truly random. When we say that the probability of an event is X%, then this event will on average happen X out of a 100 times. The veracity of all information and instructions given in this study are guaranteed by the Department of Economics at Stanford University as well as the IRB protocol under which this study runs ({{Constants.IRB}}).
    </p>

    <p> A full set of information required for you to be able to consent to participating in this study follows on the next screen. Full instructions on the study will follow in the course of the study.
    </p>
{% endblock %}
