<p>This study has 2 parts. At the end of the study, the computer will randomly select one question in one part. Your payment will depend on your answer to that question!  </p>
 
<p>Part 1 consists of a number of rounds. In each round, there are two boxes filled with colorful balls. The two boxes have the same number of balls but different color compositions. The composition of the boxes may change from round to round.</p>

<p>At the beginning of each round, the computer will select either Box A or Box B by tossing a fair coin. <b>Hence, each of the two boxes has 50% chance of being selected.</b>  We will <b>not</b> tell you which box was actually selected by the computer.</p>

<p> The computer will then randomly draw a ball from the selected box. <b>Each ball in the box is equally likely to be drawn.</b> We will not show you the ball that is drawn, but we will assign to you a dutiful robot assistant named Bob. What Bob does in each round is that he inspects the color of the drawn ball and then he answers the following question on your behalf: <b>"{{Constants.update_question}}"</b></p>

<p>Your job is to tell Bob how to answer this question under each possible circumstance.</p>

<p>If a round is selected by computer for payment, then whether you will get your extra bonus of {{Constants.high_bonus}} depends on Bob's answer in that round. Our payment rule makes sure that <b>you are most likely to get the extra bonus  when you instruct Bob to report your best guess under every circumstance</b>.</p>

 